extends ./layout/index
block  contenido 
    main.container.my-5
        .row
            
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum fringilla turpis, at fermentum nulla viverra non. Etiam a magna sit amet justo pellentesque pretium et vel ex. Vivamus facilisis felis ut neque venenatis tincidunt. Curabitur ipsum ligula, posuere a varius non, scelerisque in lectus. In nec justo vel lectus scelerisque cursus et eu eros. Morbi iaculis ultricies quam, ac vestibulum ipsum fringill
                
                p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse a bibendum erat. Curabitur rhoncus, lectus in

                p Integer tristique commodo enim eu dapibus. Aenean leo sem, ornare feugiat pulvinar dictum, tempor ac elit. Praesent volutpat vel massa laoreet tincidunt. Aenean luctus dolor nec purus placerat, eget aliquet arcu malesuada. Aenean a est et leo tincidunt aliquet. Proin congue feugiat ante ac faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales felis a diam vehicula, porttitor suscipit metus aliquet. Quisque at erat dapibus,
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono segurida" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Integer tristique commodo enim eu dapibus. Aenean leo sem, ornare feugiat pulvinar dictum,
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono segurida" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Integer tristique commodo enim eu dapibus. Aenean leo sem, ornare feugiat pulvinar dictum,
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono segurida" class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios
                    p Integer tristique commodo enim eu dapibus. Aenean leo sem, ornare feugiat pulvinar dictum,
